@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'keen-slider/keen-slider.min.css';

:root {
  --background: #ebe4de;
  --foreground: #171717;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --foreground: #f4ecec;
  }
}
html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.gradient-hover-btn {
  background: #f0d9ad7d;
  transition: background 0.4s;
}
.gradient-hover-btn:hover {
  background: linear-gradient(
    90deg,
    rgba(185, 167, 138, 0.36) 0%,
    rgba(185, 167, 138, 0.36) 25%,
    rgba(185, 167, 138, 0.36) 50%,
    rgba(185, 167, 138, 0.36) 75%,
    #A26B39 100%
  );
  color: #fff;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.input {
  @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#705C2E];
}
.react-calendar {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);
  margin: 0 auto;
}

.react-calendar__tile {
  border-radius: 8px;
  transition: background-color 0.3s ease;
  padding: 0.75rem 0;
  font-weight: 500;
}

.react-calendar__tile:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.react-calendar__tile--active {
  background-color: #ffdd57 !important;
  color: #000;
  font-weight: bold;
}

.react-calendar__tile--now {
  background-color: white/40;
  color: #333;
  font-weight: bold;
}

.react-calendar__navigation button {
  background: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #e74c3c;
}
